<!DOCTYPE html>
<html>
<head>
   <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet"/>
   <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
   <meta charset="UTF-8">
   <title>GPUcoin</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">GPUcoin</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/wallet">WALLET</a>
          <a class="nav-item nav-link" href="/send">SEND</a>
          <a class="nav-item nav-link" href="/top">TOP USERS</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <br>
        <h3>Присылайте строки, хеш которых (в формате md5) начинается с "0000"</h3>
        <br>
        <form method="post" action="/">
            <div class="form-group">
                <label for="hashes">Введите Ваши хеш-строки :</label>
                <textarea placeholder="Введите строку" class="form-control" id="hashes" name="hashes" rows="3" cols="5"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Отправить</button>
            {% if res %}
                <h3>Обработанные ключи :</h3>
                <br>
                <ul class="list-group">
                    {% for hash, status in res %}
                        <li>
                            {{ hash }} &mdash; {% if status %}OK{% else %}ERROR{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</body>
</html>